
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  padding: 0 10px; /* Ajusta el valor según la separación deseada */
}

.carousel-item img {
  display: block;
  margin: 0 auto;
}